.Modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: var(--modal-z-index-closed);

  opacity: 0;

  pointer-events: none;
}

.Modal.opened {
  z-index: var(--modal-z-index-opened);

  opacity: 1;

  pointer-events: auto;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: transparent;

  backdrop-filter: unset;
}

.content {
  max-width: 60%;
  padding: 20px;

  border-radius: 8px;

  background-color: var(--primary-bg-color);

  transform: rotateX(90deg);

  animation-duration: 0.2s;
  animation-timing-function: ease-in;
}

.Modal.opened .content {
  transform: rotateX(0);

  animation-name: content-animation-open;
}

.Modal.isClosing .content {
  transform: rotateX(90deg);

  animation-name: content-animation-close;
}

.Modal.opened .overlay {
  background-color: var(--modal-overlay-color);

  backdrop-filter: blur(15px);

  animation-name: overlay-animation-open;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
}

.Modal.isClosing .overlay {
  animation-name: overlay-animation-close;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
}

@keyframes overlay-animation-open {
  from {
    background-color: transparent;

    backdrop-filter: unset;
  }

  to {
    background-color: var(--modal-overlay-color);

    backdrop-filter: blur(15px);
  }
}

@keyframes overlay-animation-close {
  from {
    background-color: var(--modal-overlay-color);

    backdrop-filter: blur(15px);
  }

  to {
    background-color: transparent;

    backdrop-filter: unset;
  }
}

@keyframes content-animation-open {
  from {
    opacity: 0.2;
    transform: rotateX(90deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

@keyframes content-animation-close {
  from {
    opacity: 1;
    transform: rotateX(0);
  }

  to {
    opacity: 0.2;
    transform: rotateX(90deg);
  }
}
