/build
/packages/*/node_modules
node_modules
/dist
/storybook-static
.yarn/*

yarn-error.log

# Ignore all hidden files and folders
.*

# Exceptions (do not ignore)
!.gitignore
!.husky/
!.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions