.ui_theme_dark {
  --primary-bg-color: #1d1f20;
  --secondary-bg-color: #36393b;
  --primary-color: #f7f6f3;
  --secondary-color: #efede6;
  --action-color: #abcaff;
  --primary-error-color: #cc2936;
  --secondary-error-color: #d13c48;
  --warning-color: #d13c48;
  --inverted-action-color: #0808e3;
  --modal-overlay-color: #efede620;
  --shadow-color-15a: #4d484526;
  --shadow-color-20a: #4d484533;
  --skeleton-color: #d9d9d9;
}
